body{
  background: url("../production.png") no-repeat;
}
.cow{
  transform: translateX(140px);
  position: absolute;
}
.flash{
  border-radius: 1.6em;
  border: 2px solid black;
  height: 210px;
  width: 331px;
  transform: translate(312px,220px);
  animation-name: flashMilk;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 6;
  animation-delay: 7s;
}
.milk{
  background: #5e5835;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  transform: translate(400px, 151px);
}
.a{
  animation-name: moveMilk;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.b{
  animation-name: moveMilk;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.c{
  animation-name: moveMilk;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.milkDown{
  background: #e2be16;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
}
.m1{
  transform: translate(285px, 255px);
  animation-name: milkDown1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 11s;
  /*animation-delay: 1s;*/
}
.m2{
  transform: translate(570px, 255px);
  animation-name: milkDown2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 11.5s;
}
.m3{
  transform: translate(825px, 255px);
  animation-name: milkDown3;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 12s;
}
.glass1{transform: translate(278px, 335px);}
.glass2{transform: translate(520px, 335px);}
.glass3{transform: translate(730px, 335px);}
@keyframes moveMilk {
  from {transform: translate(400px, 151px);}
  5%{transform: translate(750px, 151px);}
  10%{transform: translate(750px, 75px);}
  15%{transform: translate(875px, 75px);}
  20%{
    transform: translate(980px, 130px);
  }
  25%{
    transform: translate(1120px, 130px);
    opacity: 0;
  }
  30%{transform: translate(1120px, 60px);
    opacity: 1;
  }
  35%{transform: translate(1295px, 60px);}
  40%{transform: translate(1295px, 310px);}
  45%{transform: translate(1115px, 310px);}
  50%{transform: translate(1115px, 375px);}
  55%{transform: translate(940px, 375px);}
  57.5%{transform: translate(940px, 300px);}
  60%{transform: translate(885px, 300px);}
  62.5%{transform: translate(845px, 240px);}
  65%{transform: translate(820px, 240px);}
  67.2%{transform: translate(820px, 320px);}
  80%{transform: translate(220px, 320px);}
  87%{transform: translate(220px, 150px);}
  91%{
    transform: translate(50px, 150px);
    background: #e2be16;
  }
  95%{
    transform: translate(50px, 495px);
    opacity: 1;
  }
  to {
    transform: translate(280px, 495px);
    opacity: 0;
  }
}
@keyframes flashMilk {
  from {
    background: orange;
    opacity: 0;
  }
  50%{
    background: white;
    opacity: 1;
  }
  to {
    background: yellow;
    opacity: 0;
  }
}
@keyframes milkDown1 {
  from {
    transform: translate(285px, 255px);
    opacity: 1;
  }
  80%{
    opacity: 0;
  }
  to {
    transform: translate(285px, 385px);
    background: black;
    opacity: 0;
    z-index: 99;
  }
}
@keyframes milkDown2 {
  from {
    transform: translate(570px, 255px);
    opacity: 1;
  }
  80%{
    opacity: 0;
  }
  to {
    transform: translate(570px, 385px);
    background: black;
    opacity: 0;
    z-index: 99;
  }
}
@keyframes milkDown3 {
  from {
    transform: translate(825px, 255px);
    opacity: 1;
  }
  80%{
    opacity: 0;
  }
  to {
    transform: translate(825px, 385px);
    background: black;
    opacity: 0;
    z-index: 99;
  }
}
@keyframes m1Move {
  from {transform: translate(278px, 335px);}
  to {transform: translate(1100px, 335px);}
}
@keyframes m2Move {
  from {transform: translate(520px, 335px);}
  to {transform: translate(1100px, 335px);}
}
@keyframes m3Move {
  from {transform: translate(730px, 335px);}
  to {transform: translate(1100px, 335px);}
}

/*ANIMACION DEL CORAZOM*/
.like{
  background-image: url('../heart.png');
  /*background-size: x y;*/
  background-size: 1450px, 50px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: -100px;
}
.is-liked{
  animation-name: like, moveHeart;
  animation-duration: 1s, 5s;
  animation-timing-function: steps(28), linear;
  animation-iteration-count: infinite, 1;
  animation-fill-mode: forwards;
}
@keyframes like {
  from{
    background-position: 0 0;
    opacity: 1;
  }
  to{
    /*background-position: -2800px 0;*/
    background-position: right;
  }
}
@keyframes moveHeart {
  from {
    bottom: 0;
  }
  to {
    bottom: 110%;
  }
}